:root {
    --orange-app: rgb(255, 72, 0);
}

body {
    margin: 0;
    background-color: black;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

input {
    color: white;
    font-size: 1.5rem;
    padding: 0 10px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    border: none;
    outline: none;
    height: 75px;
    text-align: right;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-orange {
    color: var(--orange-app) !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 325px;
}

.grid button:nth-child(16),
.grid button:nth-child(1) {
    grid-column: 1/3;
}

.grid button:nth-child(18) {
    background-color: var(--orange-app) !important;
    border-radius: 20px;
}

.grid button {
    background: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
}

