# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

/react-src/node_modules

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
