body {
    background-color: white;
}

table {
    margin-top: 20px;
}

#state {
    color: var(--state, red);
}

.sqlite-logo {
    width: 100px;
    height: 40px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
